@charset "UTF-8";
/* Général */
* {
  font-family: "roboto", sans-serif;
  margin: 0;
}

.page_container {
  max-width: 767px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.titre {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.sous_titre {
  font-weight: 700;
  font-size: 17px;
  line-height: 21px;
}

.paragraph {
  font-size: 16px;
  font-weight: 300;
}

.align_center {
  display: flex;
  align-items: center;
}

/* Loader */
/* Header */
header {
  display: flex;
  flex-direction: column;
}

.header_title {
  padding: 15px 0 10px 0;
  display: flex;
  justify-content: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  z-index: 1;
}
.header_title .logo {
  width: 165px;
}

.recherche_container {
  background: #eaeaea;
  height: 50px;
  justify-content: center;
}
.recherche_container i {
  padding-right: 16px;
}
.recherche_container .barre_recherche {
  width: 112px;
}
.recherche_container .barre_recherche .txt_recherche {
  background: #eaeaea;
  border: none;
  width: 120px;
}

/* Introduction */
main {
  background: #f7f7f7;
}

.introduction {
  justify-content: center;
  flex-direction: column;
}
.introduction .titre_introduction {
  text-align: center;
  width: 74%;
  padding: 39px 0 15px 0;
}
.introduction .introduction_txt {
  text-align: center;
  width: 85%;
  padding-bottom: 25px;
}

.btn_mod {
  margin-bottom: 55px;
  padding: 13px 19px;
  color: white;
  background-image: linear-gradient(0deg, #9356dc 11.4%, #ff79da 124%);
  /* Shadow/Button */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}
.btn_mod:hover {
  background: linear-gradient(0deg, #a16be0, #ff93e1);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}

/* Fonctionnement */
.fonctionnement {
  background: white;
  padding: 45px 0 55px 20px;
}
.fonctionnement .titre {
  padding-bottom: 15px;
}

.fonctionnement_liste {
  counter-reset: liste_num;
  padding-left: 10px;
}
.fonctionnement_liste .liste {
  display: flex;
  width: 95%;
  padding: 28px 0;
  background: #f7f7f7;
  margin: 12.5px 0;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}
.fonctionnement_liste .liste i {
  padding: 0 25px 0 35px;
}
.fonctionnement_liste .liste .liste_icon {
  color: #7e7e7e;
}
.fonctionnement_liste .liste .liste_icon1 {
  color: #9356dc;
}
.fonctionnement_liste .liste::before {
  content: counter(liste_num);
  counter-increment: liste_num 1;
  background: #9356dc;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;
  padding: 5px;
  border-radius: 20px;
  position: absolute;
  left: 20px;
}

/* Restaurants */
.restaurant {
  padding: 50px 15px;
}
.restaurant .titre {
  padding: 0 0 10px 5px;
}
.restaurant article {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  background: white;
  margin: 18px 0;
}

.card {
  height: 260px;
  position: relative;
}
.card .image {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.card .badge_card {
  position: absolute;
  right: 20px;
  top: 15px;
  padding: 7px 9px;
  background: #99e2d0;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  width: 60px;
  color: #008766;
}

.card_description {
  display: flex;
  justify-content: space-between;
}
.card_description .card_txt {
  padding: 16px 0 0 13px;
}
.card_description .card_txt .paragraph {
  padding-top: 5px;
}
.card_description .card_icon {
  justify-content: center;
  width: 16%;
}
.card_description .card_icon .fa-heart {
  font-size: 22px;
}
.card_description .card_icon .fa-heart:hover {
  font-weight: 900;
  color: transparent;
  background: linear-gradient(180deg, #9356dc 11.4%, #ff79da 124%);
  background-clip: text;
  transition: 0.6s;
}

/* Footer */
.footer_container {
  padding: 22px 0 20px 25px;
  background: #353535;
}
.footer_container .title {
  font-weight: 400;
  font-size: 18px;
  font-family: "Shrikhand";
  color: white;
  padding-bottom: 12px;
}
.footer_container .liste {
  padding: 0;
  color: white;
}
.footer_container .liste li {
  display: flex;
  padding: 4px 0;
  align-items: center;
}
.footer_container .liste .link {
  color: white;
}
.footer_container .liste .fa-solid {
  font-size: 12px;
  margin-right: 10px;
}
.footer_container .liste .fa-handshake-simple {
  transform-origin: center;
  transform: rotate(-45deg);
  margin-right: 5px;
}

@media screen and (min-width: 768px) {
  .page_container {
    max-width: none;
  }
  /* Header */
  .header_title {
    z-index: initial;
  }
  .header_title .logo {
    width: 200px;
  }
  /* Introduction */
  .introduction .titre_introduction {
    font-size: 40px;
  }
  .introduction .introduction_txt {
    padding: 25px 0;
  }
  /* Fonctionnement */
  .fonctionnement_liste {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .fonctionnement_liste .liste {
    width: 30%;
    position: relative;
  }
  .fonctionnement_liste .liste::before {
    left: -15px;
    align-self: center;
  }
  /* Restaurant */
  .restaurant {
    padding: 50px 180px;
  }
  .restaurant article {
    width: 45%;
  }
  .card_media_queries {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  .card_media_queries .card {
    display: flex;
    flex-direction: column;
  }
  .card_media_queries .card .badge_card {
    bottom: 215px;
  }
  /* Footer */
  .footer_container {
    display: flex;
    flex-direction: row-reverse;
    padding: 55px 65px 20px 25px;
  }
  .footer_container .liste {
    display: flex;
    justify-content: space-around;
    width: 50%;
    padding-right: 30px;
  }
  .footer_container .liste li {
    display: initial;
  }
}/*# sourceMappingURL=style_accueil.css.map */