
/* Général */

// Variables

$primaire:#9356dc;
$secondaire: #ff79da;
$tertiaire: #99e2d0;

*
{
    font-family: "roboto" , sans-serif;
    margin: 0;
}

.page_container
{
    max-width: 767px;
    margin: 0 auto;
}

a
{
    text-decoration: none;
    color: black;
}

ul
{
    list-style: none;
}

.btn
{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.titre
{
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

.sous_titre
{
    font-weight: 700;
    font-size: 17px;
    line-height: 21px;
}

.paragraph
{
    font-size: 16px;
    font-weight: 300;
}

.align_center
{
    display: flex;
    align-items: center;
}

@keyframes loader { 100%
    {
        transform: translateY(-30px);
    }
}



/* Loader */

.loader_container
{
    position: absolute;
    background: #f1f1f1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 1s ease-in-out;
    z-index: 10;

    .dot
    {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin: 0 15px;
        animation: loader 6 0.3s alternate;
    }

    .d1
    {
        background: $primaire;
    }

    .d2
    {
        background: $secondaire;
        animation-delay: 0.05s;
    }

    .d3
    {
        background: $tertiaire;
        animation-delay: 0.1s;
    }
}





/* Header */

header
{
    display: flex;
    flex-direction: column;
}

.header_title
{
    padding: 15px 0 10px 0;
    display: flex;
    justify-content: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    z-index: 1;

    .logo
    {
        width: 165px;
    }
}

.recherche_container
{
    background: #eaeaea;
    height: 50px;
    justify-content: center;

    i
    {
    padding-right: 16px;
    }

    .barre_recherche
    {
        width: 112px;

        .txt_recherche
        {
            background: #eaeaea;
            border: none;
            width: 120px;
        }
    }
}





/* Introduction */

main
{
    background: #f7f7f7;
}

.introduction
{
    justify-content: center;
    flex-direction: column;

    .titre_introduction
    {
        text-align: center;
        width: 74%;
        padding: 39px 0 15px 0;
    }

    .introduction_txt
    {
        text-align: center;
        width: 85%;
        padding-bottom: 25px;
    }
}

.btn_mod
{
    margin-bottom: 55px;
    padding: 13px 19px;
    color: white;
    background-image: linear-gradient(0deg, #9356dc 11.4%, #ff79da 124%);
    /* Shadow/Button */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;

    &:hover
    {
        background: linear-gradient(0deg, lighten($primaire, 5%), lighten($secondaire, 5%));
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
    }
}





/* Fonctionnement */

.fonctionnement
{
    background: white;
    padding: 45px 0 55px 20px;

    .titre
    {
        padding-bottom: 15px;
    }
}

.fonctionnement_liste
{
    counter-reset: liste_num;
    padding-left: 10px;
    

    .liste
    {
        display: flex;
        width: 95%;
        padding: 28px 0;
        background: #f7f7f7;
        margin: 12.5px 0;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
        border-radius: 20px;

        i
        {
            padding: 0 25px 0 35px;
        }

        .liste_icon
        {
            color: #7e7e7e;
        }
        
        .liste_icon1
        {
            color: $primaire;
        }

        &::before
        {
            content: counter(liste_num);
            counter-increment: liste_num 1;
            background: $primaire;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 15px;
            height: 15px;
            padding: 5px;
            border-radius: 20px;
            position: absolute;
            left: 20px;
        }
    }
}





/* Restaurants */

.restaurant
{
    padding: 50px 15px;

    .titre
    {
        padding: 0 0 10px 5px;
    }

    article
    {
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
        border-radius: 15px;
        background: white;
        margin: 18px 0;
    }
}

.card
{
    height: 260px;
    position: relative;

    .image
    {
        width: 100%;
        height: 180px;
        object-fit: cover;
        border-radius: 15px 15px 0 0;
    }

    .badge_card
    {
        position: absolute;
        right: 20px;
        top: 15px;
        padding: 7px 9px;
        background: $tertiaire;
        font-weight: 500;
        font-size: 14px;
        text-align: center;
        width: 60px;
        color: #008766;
    }
}

.card_description
{
    display: flex;
    justify-content: space-between;

    .card_txt
    {
        padding: 16px 0 0 13px;

        .paragraph
        {
            padding-top: 5px;
        }
    }

    .card_icon
    {
        justify-content: center;
        width: 16%;

        .fa-heart
        {
            font-size: 22px;

            &:hover
            {
                font-weight: 900;
                color: transparent;
                background: linear-gradient(180deg, $primaire 11.4%, $secondaire 124%);
                background-clip: text;
                transition: 0.6s;
            }
        }
    }
}





/* Footer */

.footer_container
{
    padding: 22px 0 20px 25px;
    background: #353535;

    .title
    {
        font-weight: 400;
        font-size: 18px;
        font-family: 'Shrikhand';
        color: white;
        padding-bottom: 12px;
    }

    .liste
    {
        padding: 0;
        color: white;

        li
        {
            display: flex;
            padding: 4px 0;
            align-items: center;
        }

        .link
        {
            color: white;
        }

        .fa-solid
        {
            font-size: 12px;
            margin-right: 10px;
        }

        .fa-handshake-simple
        {
            transform-origin: center;
            transform: rotate(-45deg);
            margin-right: 5px;
        }
    }
}





@media screen and (min-width: 768px)
{
    .page_container
    {
        max-width: none;
    }





    /* Header */

    .header_title
    {
        z-index: initial;
        
        .logo
        {
            width: 200px;
        }
    }





    /* Introduction */

    .introduction 
    {
        .titre_introduction
        {
            font-size: 40px;
        }

        .introduction_txt
        {
            padding: 25px 0;
        }
    }




    /* Fonctionnement */

    .fonctionnement_liste
    {
        display: flex;
        flex-direction: row;
        justify-content: space-around;


        .liste
        {
            width: 30%;
            position: relative;

            &::before
            {
                left: -15px;
                align-self: center;
            }
        }
    }




    /* Restaurant */

    .restaurant
    {
        padding: 50px 180px;

        article
        {
            width: 45%;
        }
    }
    
    .card_media_queries
    {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;

        .card
        {
            display: flex;
            flex-direction: column;

            .badge_card
            {
                bottom: 215px;
            }
        }
    }





    /* Footer */

    .footer_container
    {
        display: flex;
        flex-direction: row-reverse;
        padding: 55px 65px 20px 25px;

        .liste
        {
            display: flex;
            justify-content: space-around;
            width: 50%;
            padding-right: 30px;

            li
            {
                display: initial;
            }
        }
    }
}