

// Variables

$primaire:#9356dc;
$secondaire: #ff79da;
$tertiaire: #99e2d0;

*
{
    font-family: "roboto" , sans-serif;
    margin: 0;
}

.page_container
{
    max-width: 767px;
}

a
{
    text-decoration: none;
    color: black;
}

ul
{
    list-style: none;
}

.small_font
{
    font-size: 15px;
    font-weight: 300;
}

.align_center
{
    display: flex;
    align-items: center;
}

.btn
{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}





/* Général */

.page_container
{
    margin: 0 auto;
}
.image_plat
{
    width: 100%;
    height: 275px;
    object-fit: cover;
}





/* Header */

header
{
    padding: 23px;
    justify-content: center;

    .link
    {
        position: absolute;
        left: 23px;

        .fa-arrow-left
        {
            font-size: 17px;
        }
    }

    .logo
    {
        width: 45%;
    }
}




/* Main */

main
{
    margin-top: -55px;
    z-index: 1;
    position: relative;
}

.main_container
{
    padding: 32px 13px 0 13px;
    border-radius: 35px 35px 0 0;
    background: #f7f7f7;

    .titre
    {
        padding: 0 0 5px 5px;
        font-family: 'Shrikhand', sans-serif;
        justify-content: space-between;
        font-weight: 400;
        font-size: 28px;
        width: 90%;

        .fa-heart
        {
            font-size: 22px;
            cursor: pointer;

            &:hover
            {
                font-weight: 900;
                color: transparent;
                background: linear-gradient(180deg, $primaire 11.4%, $secondaire 124%);
                background-clip: text;
                transition: 0.4s;
            }
        }
    }

    .sous_titre
    {
        text-transform: uppercase;
        padding-bottom: 8px;
        position: relative;
        margin: 35px 0 6px 0;

        &::after
        {
            content: "";
            background: $tertiaire;
            left: 0;
            bottom: 0;
            position: absolute;
            width: 40px;
            height: 3px;
        }
    }
}

.card
{
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    justify-content: space-between;
    margin: 12px 0;
    align-items: end;
    overflow: hidden;
    position: relative;

    .plat_confirm
    {
        background-color: $tertiaire;
        width: 59px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: -200px;
        transition-duration: 0.5s;
        height: 69px;

        .fa-check
        {
            padding: 4px;
            background: white;
            border-radius: 25px;
            color: $tertiaire;
        }
    }
    
    &:hover .plat_confirm
    {
        margin-right: initial;
    }

    .plat
    {
        margin: 12px 0 12px 15px;
        overflow: hidden;

        &:hover
        {
            width: 65%;
        }

        .card_title
        {
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
            padding-bottom: 5px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        p
        {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    .prix
    {
        padding-bottom: 13px;
        display: flex;
        justify-content: center;
        position: absolute;
        right: 13px;
    }

    &:hover .prix
    {
        padding-right: 0;
        position: absolute;
        right: 72px;
    }
}

.commander
{
    display: flex;
    justify-content: center;
    padding: 40px 0;

    .btn_mod
    {
        padding: 15px 45px;
        color: white;
        background-image: linear-gradient(0deg, $primaire 11.4%, $secondaire 124%);
        /* Shadow/Button */
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        border-radius: 25px;

        &:hover
        {
            background: linear-gradient(0deg, lighten($primaire, 5%), lighten($secondaire, 5%));
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
        }
    }
}





/* Footer */

.footer_container
{
    padding: 22px 0 20px 25px;
    background: #353535;

    .title
    {
        font-weight: 400;
        font-size: 18px;
        font-family: 'Shrikhand';
        color: white;
        padding-bottom: 12px;
    }

    .liste
    {
        padding: 0;
        color: white;

        li
        {
            display: flex;
            padding: 4px 0;
            align-items: center;
        }

        .link
        {
            color: white;
        }

        .fa-solid
        {
            font-size: 12px;
            margin-right: 10px;
        }

        .fa-handshake-simple
        {
            transform-origin: center;
            transform: rotate(-45deg);
            margin-right: 5px;
        }
    }
}





@media screen and (min-width: 768px)
{
    .page_container
    {
        max-width: none;
    }





    /* Header */
    
    header
    {
        .logo
        {
            width: 15%;
        }
    }   
    
    .image_plat
    {
        height: 400px;
    }




    
    /* Main */

    main
    {
        margin: -55px 190px 0 190px;

        .main_container
        {
            padding: 32px 0 0 0;
            display: flex;
            align-items: center;
            flex-direction: column;

            .titre
            {
                width: 60%;
                justify-content: space-evenly;
            }

            .plat_container
            {
                width: 65%;
            }
        }
    }





    /* Footer */

    .footer_container
    {
        display: flex;
        flex-direction: row-reverse;
        padding: 55px 65px 20px 25px;

        .liste
        {
            display: flex;
            justify-content: space-around;
            width: 50%;
            padding-right: 30px;

            li
            {
                display: initial;
            }
        }
    }
}