
/* Général */

*
{
    font-family: "roboto" , sans-serif;
    margin: 0;
}

.page_container
{
    max-width: 767px;
}

a
{
    text-decoration: none;
    color: black;
}

ul
{
    list-style: none;
}

ol
{
    list-style: none;
}

.btn
{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.titre
{
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

.column_center
{
    display: flex;
    flex-direction: column;
    align-items: center;
}





/* Header */

header
{
    display: flex;
    flex-direction: column;
}

.header_title
{
    padding: 15px 0 10px 0;
    display: flex;
    justify-content: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);

    .image_title
    {
        width: 45%;
    }
}

.recherche_container
{
    background: #eaeaea;
    height: 50px;
    display: flex;
    justify-content: center;

    .barre_recherche
    {
        width: 37%;
        display: flex;
        align-items: center;
    }
}

.barre_recherche i
{
    padding-right: 16px;
}

.barre_recherche_txt
{
    background: #eaeaea;
    border: none;
}